body {
  margin: 0;
  font-family: Arial;
}

.navbar {
  width: 100%;
  background: black;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 30px;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.grid {
  display: grid;

  grid-template-columns: repeat(auto-fill, 250px);

  gap: 20px;

  padding: 40px;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
}